.chat__div {
  // border: 1px solid red;
  display: flex;
  margin: 5px 15px;

  &.sent-by-me {
    justify-content: flex-end;
  }

  &.sent-by-other {
    justify-content: flex-start;
  }

  .chat__message {
    // border: 1px solid green;
    max-width: 50%;
    color: var(--darkGray-color);
    padding: 8px 10px;
    font-size: 1.2rem;

    &.sent-by-me {
      background-color: var(--lightGreen-color);
      border-radius: 10px 10px 0 10px;
    }

    &.sent-by-other {
      background-color: var(--primary-color);
      border-radius: 10px 10px 10px 0;
    }
  }

}
