.chat__div {
  // border: 1px solid red;
  display: flex;
  margin: 5px 15px;

  .chat__message {
    // border: 1px solid green;
    max-width: 50%;
    color: #303030;
    padding: 8px 10px;
    font-size: 1.2rem;
  }

  .chat__message.sent-by-me {
    background-color: #daf8cd;
    border-radius: 10px 10px 0 10px;
  }

  .chat__message.sent-by-other {
    background-color: #f1f0f0;
    border-radius: 10px 10px 10px 0;
  }
}

.chat__div.sent-by-me {
  justify-content: flex-end;
}

.chat__div.sent-by-other {
  justify-content: flex-start;
}
